[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClaimsProblems"]
	path = ClaimsProblems
	url = https://github.com/cran/ClaimsProblems
